div#recaptcha_image { border:1px solid grey; margin-bottom: 3px; }
div#recaptcha_image a { padding: 5px; }
div.options { margin-bottom: 5px; font-size: 10px; }

DIV#recaptcha_explanation
{
	background: #EEE;
	padding: 5px; 
	font-size: 10px;
	color: #333;
	width: 288px;
	margin-bottom: 5px;
}

Input#recaptcha_response_field
{
	width: 296px;
}